<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}" ontouchmove>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{function('wp_title')}}</title>
    <script>document.documentElement.classList.remove('no-js');</script>
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    {% block head %}
      {{function('wp_head')}}
    {% endblock %}
  </head>
  <body class="{{ body_class }}" onclick>
    {% block navbar %}
      {% include 'partials/navbar.twig' %}
    {% endblock %}

    <div>
			{% include 'partials/menu/desktop-menu.twig' with {
          items: menu.get_items
      } %}
		</div>

    <div>
			{% include 'partials/menu/side-menu.twig' with {
          items: menu.get_items
      } %}
		</div>

    {% include 'partials/search-box.twig' %}

    {% block content %}
      Sorry, no content available.
    {% endblock %}
    <div style="width: 100%; height: 3000px"></div>
    {# <div style="height: 100px; width: 100vw; background: red">test</div> #}
    {% block footer %}
      {% include 'partials/footer.twig' %}
    {% endblock %}
    {{ function('wp_footer') }}
  </body>
</html>
