{% set buttonClass = 'basic-button' %}
{% if variant == 'dark' %}
    {% set buttonClass = 'basic-button dark-button' %}
{% endif %}


<div class="{{buttonClass}} {% if class %}{{class}}{% endif %}" {% if id %}id="{{id}}"{% endif %}>
    {% if link %}
        <a href="{{link}}" class="basic-button__button">{{text}}</a>
    {% else %}
        <button class="basic-button__button">{{text}}</button>
    {% endif %}

    <div class="basic-button__loader"></div>

    <span class="basic-button__span-1"></span>
    <span class="basic-button__span-2"></span>

    <div for="toggle" class="paper">
        <div class="plane">

            <div class="side left-side">
                <div class="part nose"></div>
                <div class="part"></div>
                <div class="part wing wing-left"></div>
            </div>

            <div class="side right-side">
                <div class="part nose"></div>
                <div class="part"></div>
                <div class="part wing wing-right"></div>
            </div>

        </div>
    </div>
</div>
