{% set buttonClass = 'basic-button' %}
{% if variant == 'dark' %}
    {% set buttonClass = 'basic-button dark-button' %}
{% endif %}


<div class="{{buttonClass}} {% if class %}{{class}}{% endif %}" {% if id %}id="{{id}}"{% endif %}>
    {% if link %}
        <a href="{{link}}" class="basic-button__button">{{text}}</a>
    {% else %}
        <button class="basic-button__button">{{text}}</button>
    {% endif %}

    <span class="basic-button__span-1"></span>
    <span class="basic-button__span-2"></span>
</div>
